name: Flint Build

on:
  push:
    paths: [ flint/**, .github/workflows/flint.yaml ]
    
  pull_request:
    paths: [ flint/**, .github/workflows/flint.yaml ]

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: flint

    steps:
    - uses: actions/checkout@v4
    - uses: subosito/flutter-action@v2.18.0
    - run: dart pub get
    - run: dart analyze
