name: Stevia Integration Tests

on:
  push:
    paths:
      - .github/workflows/stevia_integration_test.yaml
      - stevia/android/**
      - stevia/example/**
      - stevia/ios/**
      - stevia/lib/**
      - stevia/test/**
      - stevia/tool/**
      - stevia/analysis_options.yaml
      - stevia/dartdoc_options.yaml
      - stevia/pubspec.yaml

  pull_request:
    paths:
      - .github/workflows/stevia_integration_test.yaml
      - stevia/android/**
      - stevia/example/**
      - stevia/ios/**
      - stevia/lib/**
      - stevia/test/**
      - stevia/tool/**
      - stevia/analysis_options.yaml
      - stevia/dartdoc_options.yaml
      - stevia/pubspec.yaml

jobs:
  ios:
    name: iOS integration tests
    runs-on: macos-latest
    defaults:
      run:
        working-directory: stevia/example
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2.16.0
      - uses: actions/checkout@v4
      - uses: futureware-tech/simulator-action@v4
        with:
          model: iPhone 14
      - run: flutter pub get
      - run: flutter build ios --debug --no-codesign
      - run: flutter test integration_test
