name: Stevia Integration Tests

on:
  push:
    paths:
      - .github/workflows/stevia_integration_test.yaml
      - stevia/android/**
      - stevia/example/**
      - stevia/ios/**
      - stevia/lib/**
      - stevia/test/**
      - stevia/tool/**
      - stevia/analysis_options.yaml
      - stevia/dartdoc_options.yaml
      - stevia/pubspec.yaml

  pull_request:
    paths:
      - .github/workflows/stevia_integration_test.yaml
      - stevia/android/**
      - stevia/example/**
      - stevia/ios/**
      - stevia/lib/**
      - stevia/test/**
      - stevia/tool/**
      - stevia/analysis_options.yaml
      - stevia/dartdoc_options.yaml
      - stevia/pubspec.yaml

jobs:
  android:
    name: Android integration tests
    runs-on: macos-latest
    defaults:
      run:
        working-directory: stevia/example
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - uses: subosito/flutter-action@v2.10.0
      - run: flutter pub get
      - run: flutter build appbundle --debug
      - uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          arch: x86_64
          profile: Nexus 6
          working-directory: stevia/example
          script: flutter test integration_test

  ios:
    name: iOS integration tests
    runs-on: macos-latest
    defaults:
      run:
        working-directory: stevia/example
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2.10.0
      - uses: actions/checkout@v3
      - uses: futureware-tech/simulator-action@v2
        with:
          model: 'iPhone 14'
      - run: flutter pub get
      - run: flutter build ios --debug --no-codesign
      - run: flutter test integration_test
