name: Sugar Integration Tests

on:
  push:
    paths:
      - .github/workflows/sugar_integration_test.yaml
      - sugar/integration_test/**
      - sugar/lib/**
      - sugar/tool/**
      - sugar/dart_test.yaml
      - sugar/pubspec.yaml

  pull_request:
    paths:
      - .github/workflows/sugar_integration_test.yaml
      - sugar/integration_test/**
      - sugar/lib/**
      - sugar/tool/**
      - sugar/dart_test.yaml
      - sugar/pubspec.yaml

jobs:
  windows:
    name: Windows integration tests
    runs-on: windows-latest
    defaults:
      run:
        working-directory: sugar
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2.21.0
      - run: dart pub get
      - run: dart run coverage:test_with_coverage --test  .\integration_test\src\time\zone\platform\platform_provider_test.dart
      - uses: codecov/codecov-action@v5
        with:
          files: ./sugar/coverage/lcov.info

  macos:
    name: macOS integration tests
    runs-on: macos-latest
    defaults:
      run:
        working-directory: sugar
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2.21.0
      - run: dart pub get
      - run: chmod +x ./integration_test/src/time/zone/platform/platform_provider_test_macos.sh
      - run: ./integration_test/src/time/zone/platform/platform_provider_test_macos.sh
      - uses: codecov/codecov-action@v5
        with:
          files: ./sugar/coverage/lcov.info

  linux:
    name: Linux integration tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: sugar
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2.21.0
      - run: dart pub get
      - run: chmod +x ./integration_test/src/time/zone/platform/platform_provider_test_linux.sh
      - run: ./integration_test/src/time/zone/platform/platform_provider_test_linux.sh
      - uses: codecov/codecov-action@v5
        with:
          files: ./sugar/coverage/lcov.info

  web:
    name: Web integration tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: sugar
    steps:
      - uses: actions/checkout@v5
      - uses: browser-actions/setup-chrome@v2
        with:
          chrome-version: stable
      - uses: browser-actions/setup-firefox@v1
        with:
          firefox-version: latest
      - uses: subosito/flutter-action@v2.21.0
      - run: dart pub get
      - run: chmod +x ./integration_test/src/time/zone/platform/platform_provider_test_browser.sh
      - run: ./integration_test/src/time/zone/platform/platform_provider_test_browser.sh
      - uses: codecov/codecov-action@v5
        with:
          files: ./sugar/coverage/lcov.info
